.collection-card{
    color: #fff;
    background-color: #1a1a1a;
    border-radius:20px;
    overflow: hidden;
    width: 300px;
    height: 500px;
    margin-right: 30px;
    .deatails{
        padding: 20px;
    }
    .name{
        font-size:20px;
        font-weight: 900;
        .id{
            color: #a1a5b0;
            font-size: 18px;
            font-weight: 600;
        }
    }
   .price-container{
       display: flex;
       align-items: center;
       margin-top: 10px;
       .wethImage{
           height: 23px;
           width: 15px;
       }
       .price{
           font-weight: 600;
           margin-left: 5px;
       }
   }
}
.collection-card > img {
    width:100%
}